* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at top, #2c003e, #000);
  overflow-x: hidden;
  overflow-y: auto; /* PENTING agar teks bisa discroll */
  font-family: 'Segoe UI', sans-serif;
}


/* TEKS KLIK */
.click-text {
  position: absolute;
  top: 20%;
  color: #fff;
  font-size: 28px;
  letter-spacing: 2px;
  animation: bounce 1.2s infinite;
  text-shadow: 0 0 10px #ff69b4;
}

/* ANIMASI TEKS */
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

/* KADO WRAP */
.merrywrap {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* KADO */
.giftbox {
  width: 280px;
  height: 200px;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  animation: shake 1.5s infinite;
}

/* GOYANG HALUS */
@keyframes shake {
  0% { transform: rotate(0); }
  25% { transform: rotate(1deg); }
  50% { transform: rotate(-1deg); }
  75% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
}

.giftbox > div {
  position: absolute;
}

/* BADAN KADO */
.box {
  bottom: 0;
  width: 100%;
  height: 75%;
  background: linear-gradient(145deg, #ff4d6d, #c9184a);
  border-radius: 0 0 12px 12px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.5);
}

/* TUTUP */
.cover {
  top: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(145deg, #ff758f, #ff4d6d);
  border-radius: 12px 12px 6px 6px;
  transform-origin: bottom;
  transition: transform 1.2s ease;
}

/* PITA VERTIKAL */
.ribbon {
  position: absolute;
  left: 50%;
  top: 0;
  width: 35px;
  height: 100%;
  background: linear-gradient(#ffd166, #fca311);
  transform: translateX(-50%);
  z-index: 3;
}

/* PITA ATAS */
.cover > div {
  width: 70px;
  height: 70px;
  background: #ffd166;
  position: absolute;
  left: 50%;
  top: -35px;
  transform: translateX(-50%) rotate(45deg);
  border-radius: 12px;
}

/* BUKA KADO */
.giftbox.open .cover {
  transform: rotateX(160deg);
}

/* VIDEO */
.video-intro {
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at top, #2c003e, #000);;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;                
  transition: opacity 0.8s ease;
}

.video-intro video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* SEMBUNYI */
.hidden {
  display: none;
}

/* MODE PORTRAIT KHUSUS HP + AUTO SCROLL */
@media (max-width: 768px) and (orientation: portrait) {
  .birthday-text {
    top: 20% !important;
    width: 92% !important;
    max-height: 65vh !important;
    font-size: 20px !important;
    line-height: 1.5 !important;
    scroll-behavior: smooth;
    padding-bottom: 20px;
  }
}
